.register-pyme-page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 20px;
	background-color: #f0f2f5;
}

.register-pyme-page-container h1 {
	margin-bottom: 30px;
	color: #2c3e50;
	text-align: center;
	font-size: 2rem;
}
